@import 'variables';

@mixin bold {
    font-weight: 700;
}

// CENTERING 

// Center child element horizontally and vertically
@mixin center-child-horiz-vert {
  display: grid;
  justify-content: center;
  align-content: center;
}

// Center child element vertically
@mixin center-child-vert {
  display: grid;
  align-content: center;
}

// Center child element horizontally
@mixin center-child-horiz {
  display: grid;
  justify-content: center;
}

// MEDIA QUERIES

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
