@mixin bold {
    font-weight: 700;
}

@mixin center {
  display: grid;
  justify-content: center;
  align-content: center;
}
// MIXINS

@mixin dim-effect ($before, $after) {
    opacity: $before;
    transition: opacity 2s linear;
  
    &:hover {
      opacity: $after;
      transition: all 2s ease;
    }
  }