@mixin bold {
    font-weight: 700;
}

// CENTERING 

// Center child element horizontally and vertically
@mixin center-child-horiz-vert {
  display: grid;
  justify-content: center;
  align-content: center;
}

// Center child element vertically
@mixin center-child-vert {
  display: grid;
  align-content: center;
}

// Center child element horizontally
@mixin center-child-horiz {
  display: grid;
  justify-content: center;
}

@mixin dim-effect ($before, $after) {
    opacity: $before;
    transition: opacity 2s linear;
  
    &:hover {
      opacity: $after;
      transition: all 2s ease;
    }
  }