// Cabin Font
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');


body {
    font-family: 'Cabin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 20pt;
}