// COLOURS
$green-600: #43A047;

// COLOR

$gray-1: #333333;
$gray-2: #4d4d4d;
$gray-3: #666666;
$gray-4: #e6e6e6;

$primary-light: #eff3f5;
$primary-dark: #45606e;


// HEIGHTS AND WIDTHS
$tablet-width: 514px;

$navbar-height: 128px;

$grey-900: #111111;
$black-111111: #111111;
$pink-500: #E91E63;

$red-A700: #D50000;
$white: #E0E0E0;
$black: #111111;

// MEDIA QUERY 
$screen-xl: 1300px;
$screen-lg: 1200px;
$screen-ml: 1000px;
$screen-m: 514px;

$container: 1072px;
