// COLOURS
$green-600: #43A047;

// COLOR

$gray-1: #333333;
$gray-2: #4d4d4d;
$gray-3: #666666;
$gray-4: #e6e6e6;

$primary-light: #eff3f5;
$primary-dark: #45606e;


// HEIGHTS AND WIDTHS
$tablet-width: 514px;

$navbar-height: 128px;